<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @global_config['INSTALLATION_NAME'] %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <% if @global_config['DISPLAY_MANIFEST'] %>
      <meta name="msapplication-TileColor" content="#1f93ff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#1f93ff">
      <meta name="description" content="Chatwoot is a customer support solution that helps companies engage customers over Messenger, Twitter, Telegram, WeChat, Whatsapp. Simply connect your channels and converse with your customers from a single place. Easily add new agents to your system and have them own and resolve conversations with customers.Chatwoot also gives you real-time reports to measure your team's performance, canned responses to easily respond to frequently asked questions and private notes for agents to collaborate among themselves.">
      <% if ENV['IOS_APP_IDENTIFIER'].present? %>
        <meta name="apple-itunes-app" content='app-id=<%= ENV['IOS_APP_IDENTIFIER'] %>'>
      <% end %>
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
      <link class="favicon" rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link class="favicon" rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
      <link class="favicon" rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
    <% end %>
    <link rel="icon" type="image/png" sizes="512x512" href="<%= @global_config['LOGO_THUMBNAIL'] %>">
    <%= csrf_meta_tags %>
    <script>
      window.chatwootConfig = {
        hostURL: '<%= ENV.fetch('FRONTEND_URL', '') %>',
        helpCenterURL: '<%= ENV.fetch('HELPCENTER_URL', '') %>',
        fbAppId: '<%= ENV.fetch('FB_APP_ID', nil) %>',
        fbApiVersion: '<%= @global_config['FACEBOOK_API_VERSION'] %>',
        signupEnabled: '<%= @global_config['ENABLE_ACCOUNT_SIGNUP'] %>',
        isEnterprise: '<%= @global_config['IS_ENTERPRISE'] %>',
        <% if @global_config['VAPID_PUBLIC_KEY'] %>
        vapidPublicKey: new Uint8Array(<%= Base64.urlsafe_decode64(@global_config['VAPID_PUBLIC_KEY']).bytes %>),
        <% end %>
        enabledLanguages: <%= available_locales_with_name.to_json.html_safe %>,
        selectedLocale: '<%= I18n.locale %>'
      }
      window.globalConfig = <%= raw @global_config.to_json %>
      window.browserConfig = {
        browser_name: '<%= browser.name %>',
        is_safari: '<%= browser.safari? %>'
      }
      window.errorLoggingConfig = '<%= ENV.fetch('SENTRY_DSN', '')%>'
    </script>
    <% if @global_config['ANALYTICS_TOKEN'].present? && @global_config['ANALYTICS_HOST'].present? %>
    <script>
      window.analyticsConfig = {
        token: '<%= @global_config['ANALYTICS_TOKEN'] %>',
        host: '<%= @global_config['ANALYTICS_HOST'] %>',
      }
    </script>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <style type="text/css">

:root {
  --y-50: #3e3c15 !important;
  --y-700: #dd9a1b !important;
  --y-300: #dd9a1b !important;

  --w-100: #294056 !important;
}
      .woot-sidebar, .secondary-menu, .integrations-wrap .integration {
        background: var(--color-background-dark1) !important;
      }
      .primary--sidebar, .secondary-menu, .dropdown-menu--divider,
      .ve-table .ve-table-container.ve-table-border-around, .label.secondary {
        border-color: var(--color-border-dark2) !important;
      }

      .primary--sidebar a.menu-item {
        margin: 3px 0 !important;
      }
      nav.menu.vertical {
        margin-top: 0 !important;
      }
      .logo {
        padding: 0 !important;
      }
      .logo a {
        display: block !important;
        padding: var(--space-normal) !important;
      }

      .account-context--group:hover {
        background: var(--b-900) !important;
      }
      .account-context--switch-group {
        --overlay-shadow:linear-gradient(90deg,hsla(0,0%,100%,0) 0%,#131313 50%) !important;
      }

      .menu-item.is-active, .secondary-menu--link.is-active, .secondary-menu--link.router-link-exact-active {
        background: var(--color-background-dark2) !important;
      }
      .menu-item:hover, .secondary-menu--link:hover {
        background: var(--color-background-dark2) !important;
        color: var(--w-500) !important;
      }

      .layout-switch__container {
        background-color: var(--color-background-dark4);
      }
      .layout-switch__container .layout-switch__btn.active {
        background-color: var(--color-background-dark);
      }


      .badge--icon {
        background: transparent !important;
        border: 1px solid !important;
        padding: 10px 5px !important;
        border-color: var(--color-background-dark2) !important;
      }

      .avatar-container {
        color: #fff !important;
      }


      .conversation.active {
        border-left-color: var(--color-woot) !important;
        background: rgb(235 245 255 / 6%) !important;
      }
      .conversation-selected, .conversation:hover {
        background: rgb(235 245 255 / 6%) !important;
      }

      .contact--panel, .conversation--attribute, .list-group .list-group-item, .dashboard-app--tabs {
        background-color: var(--color-background-dark1) !important;
      }
      .view-box, .card {
        background: var(--color-background-dark) !important;
      }
      .card.note-wrap {
        background: var(--color-background-dark1) !important;
      }
      .note__content {
        color: var(--b-300) !important;
      }
      .has-context-menu {
        background: transparent !important;
      }
      .modal-container textarea, .modal-container [type=text], .modal-container [type=url], .search-wrap .contact-search,
      .edit-contact--form span.input-group-label, .settings--section [type=color], .settings--section [type=date],
      .settings--section [type=datetime-local], .settings--section [type=datetime], .settings--section [type=email],
      .settings--section [type=month], .settings--section [type=number], .settings--section [type=password],
      .settings--section [type=search], .settings--section [type=tel], .settings--section [type=text],
      .settings--section [type=time], .settings--section [type=url], .settings--section [type=week], .settings--section textarea,
      select, .wizard-body [type=color], .wizard-body [type=date], .wizard-body [type=datetime-local], .wizard-body [type=datetime],
      .wizard-body [type=email], .wizard-body [type=month], .wizard-body [type=number], .wizard-body [type=password],
      .wizard-body [type=search], .wizard-body [type=tel], .wizard-body [type=text], .wizard-body [type=time], .wizard-body [type=url],
      .wizard-body [type=week], .wizard-body textarea, .input-group .input-group-field[data-v-13645dda] input  {
        background: transparent !important;
      }
      .ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-body-td,
      .ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-expand-td,
      .ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-body-td,
      .ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-expand-td {
        background-color: #1f2124 !important;
        color: #d2d2d2 !important;
        height: inherit;
      }
      .ve-table .ve-table-container .ve-table-content.ve-table-border-x td, .ve-table .ve-table-container .ve-table-content.ve-table-border-x th {
        border-bottom: 1px solid #3a3a3a !important;
      }
      .ve-table table.ve-table-content thead.ve-table-header tr.ve-table-header-tr th.ve-table-header-th {
        background-color: #000000 !important;
        color: #9a9b9b !important;
      }
      .ve-table .ve-table-container .ve-table-content.ve-table-border-x tr.ve-table-footer-tr:first-child>td,
      .ve-table .ve-table-container .ve-table-content.ve-table-border-x tr:first-child>th {
        border-top: 1px solid #3a3a3a;
      }
      .ve-table table.ve-table-content tbody.ve-table-body.ve-table-row-hover tr.ve-table-body-tr:hover td {
        background-color: rgb(0 0 0 / 5%) !important;
      }
      .ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td.ve-table-fixed-left,
      .ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td.ve-table-fixed-right {
        background: #1f2124 !important;
      }

      .title-wrap {
        margin-bottom: 4px !important;
      }
      .custom-attribute--row div p, .value--view p.value {
        margin-bottom: 0;
      }
      .value--view.is-editable:hover .value {
        background: var(--color-background-dark2) !important;
      }

      .multiselect__content-wrapper {
        border-color: var(--color-background-dark2) !important;
      }
      .multiselect-wrap--medium .multiselect, .multiselect-wrap--medium .multiselect__input,
      .multiselect-wrap--medium .multiselect__tags {
        background: var(--color-background-dark1) !important;
        border-radius: 3px !important;
      }

      .ProseMirror-menuitem {
        background: var(--b-900);
        border-radius: 3px;
        transition: .2s ease all;
      }
      .ProseMirror-menuitem:hover {
        background: var(--b-800);
      }
      .ProseMirror-menu-active {
        background: var(--color-woot);
        color: #fff;
      }

      .ve-pagination .ve-pagination-li, .ve-pagination .ve-pagination-goto .ve-pagination-goto-input {
        background-color: var(--color-background-dark) !important;
        border-color: var(--color-border-light) !important;
        color: #ccc !important;
      }
      .ve-pagination .ve-pagination-li.ve-pagination-li-active {
        border-color: var(--color-woot) !important;
      }
      .ve-pagination .ve-pagination-total, .ve-pagination .ve-pagination-goto {
        color: var(--color-body) !important;
      }
      .ve-pagination .ve-pagination-goto .ve-pagination-goto-input:hover {
        border-color: var(--color-woot) !important;
      }

      .button.smooth {
        background-color: var(--color-background-dark2) !important;
        color: var(--w-50) !important;
      }
      .button.smooth:hover {
        background: var(--s-800) !important;
      }
      .bubble.is-from-bot {
        background: var(--g-900) !important;
      }
      .conversation-panel>li.right .bubble {
        background: var(--s-800);
      }

      .label-wrap .label {
        background-color: var(--color-background-dark2) !important;
        border-color: var(--color-background-dark2) !important;
        color: var(--w-50) !important;
      }

      .banner {
        background: var(--w-700) !important;
        color: var(--white) !important;
      }

      .filters-wrap, .filter {
        background: var(--color-background-light) !important;
      }

      .bulk-action__container {
        border-color: var(--color-border-dark2) !important;
      }


      .template__list-container {
        background-color: var(--color-background-dark1) !important;
      }
      .templates__list-search {
        background: var(--color-background-dark1) !important;
        border-color: transparent !important;
      }
      .template__list-container hr {
        border-bottom-color: var(--color-border-dark2) !important;
      }
      .template__list-container .template__list-item {
        background: var(--s-800) !important;
        color: #fff !important;
      }
      .template__list-container .template__list-item:hover {
        background-color: #1a2736 !important;
      }
      .template__list-container  span.label-lang.label {
        background: #848591 !important;
      }


      .inoboxes-list .inbox-item {
        background: var(--color-background-dark2) !important;
      }

      .conversation .conversation--details {
        /* border-top: 1px solid var(--color-border-dark2) !important;
        border-bottom-color: var(--color-border-dark2) !important;
        border-top-color: var(--color-border-dark2) !important; */
      }

      .reply-box__top >input {
        background: var(--color-background-dark1) !important;
      }

      .report-card {
        background: var(--color-background-dark2) !important;
      }
      .report-bar {
        background: var(--color-background-dark1) !important;
        border: 1px solid var(--color-border-dark2) !important;
      }

      .bottom-nav {
        border-top: 1px solid var(--color-border-dark2) !important;
      }

      .selector-wrap .selector-button {
        border-color: var(--color-border-dark2) !important;
      }
      .selector-wrap .selector-button:hover {
        background: var(--color-background-dark2) !important;
      }

      .tabs {
        border-bottom: solid var(--color-border-dark2) !important;
      }

      .clear-button {
        transition: all .2s cubic-bezier(0.42, 0, 0.29, 0.83) !important;
      }

      .close-unread-button {
        transition: all .2s cubic-bezier(0.42, 0, 0.29, 0.83) !important;
      }


      .context-menu-container, .menu-with-submenu .submenu {
          box-shadow: rgb(22 23 24 / 80%) 0px 10px 38px -10px, rgb(22 23 24 / 86%) 10px 10px 60px 10px !important;
          border-radius: 10px;
      }
      .menu-container, .context-menu-container .menu-with-submenu, .context-menu-container .menu-with-submenu .submenu {
        background-color: var(--s-800) !important;
      }
      .context-menu-container .menu .menu-label, .context-menu-container .menu svg,
      .context-menu-container .menu-with-submenu svg,  .context-menu-container .menu-with-submenu .menu-label {
        color: var(--white) !important;
      }

    </style>
  </head>
  <body>
    <div id="app"></div>
    <noscript id="noscript">This app works best with JavaScript enabled.</noscript>
    <%= yield %>
    <% if @global_config['CHATWOOT_INBOX_TOKEN'].present? %>
    <script>
      window.chatwootSettings = { hideMessageBubble: true, position: 'left' };
      (function(d,t) {
        var BASE_URL='<%= ENV.fetch('FRONTEND_URL', 'https://app.chatwoot.com') %>';
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js"; g.defer=true; g.async=true;
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: '<%= @global_config['CHATWOOT_INBOX_TOKEN'] %>',
            baseUrl: BASE_URL,
          });
        }
      })(document,"script");
    </script>
    <% end %>
  </body>
</html>
